.container {
    position:relative;
    width:20em;
    min-height:1.5em;
    border: .5em solid #777;
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em;
    border-radius: .5em;
    outline: none;
}

.container:focus {
    border-color: hsl(200, 100%, 50%);

}

.value {
    flex-grow: 1;
}

.clear-btn {
    background: none;
    color: #777;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    font-size: 1.25em;
}

.clear-btn:focus
.clear-btn:hover {
    color: #333;
}

.divider {
    background-color: #777;
    align-self: stretch;
    width: 0.5em;
}

.caret {
    translate: 0 25%;
    border: .25em solid transparent;
    border-top-color: #777;
}

.options {
    position: absolute; 
    margin: 0;
    padding: 0;
    list-style: none;
    /*display: none;*/
    max-height: 15em;
    overflow-y: auto;
    border: .5em solid #777;
    border-radius: .25em;
    width: 100%;
    left: 0;
    top: calc(100% + .25em);
    background-color: white;
    z-index: 100;
}

.options.show {
    display: block;

}